<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yijiupi.logindemo.dao.UserMapper">

    <select id="getUser" resultType="com.yijiupi.logindemo.pojo.UserPO" parameterType="com.yijiupi.logindemo.pojo.UserPO">
      SELECT  id,name,password FROM userinfo WHERE name=#{name} and password=#{password}
    </select>

    <select id="checkName" resultType="com.yijiupi.logindemo.pojo.UserPO" parameterType="String">
        SELECT  id,name,password FROM userinfo WHERE name=#{name}
    </select>

    <insert id="saveUser" parameterType="com.yijiupi.logindemo.pojo.UserPO" useGeneratedKeys="true" keyProperty="userid">
        INSERT INTO userinfo(name, password) VALUES (#{name},#{password})
    </insert>

</mapper>